.Input{
    width: 100%;
    height: 22px;

    padding: 0px 5px;
    font-weight: 300;
    
    border-radius: 20px;
    
    border:1px solid #000A16
}

.Input:focus {
    background-color: #dddddd;
    color: black;
    outline-color: #787878;
}

.Input:invalid[focused="true"] {
    border:solid 2px red;

}

.Select{
    width: auto;
    height: 22px;

    padding: 0px 5px;
    font-weight: 300;
    
    border-radius: 20px;
    
    border:1px solid #000A16
}

.InputError {
    font-size: 10px;
    color: red;
    
    text-align: right;
    margin: 0px 10px;
    display: none;
}

.ResponseError {
    font-size: 10px;
    color: red;
    
    text-align: center;
    margin: 0;
    display: inline-block;
}

.Info:empty {
    display: none;
}

.Info {
    font-size: 10px;
    color: green;
    margin: 8px;
}

.Input:invalid[focused="true"] + .InputError {
    display: block;

}

.InputLabel{
    font-size: 18px;
    font-weight: 100;
    margin-top: 10px;
    display: inline-block;
}

.Button{
    height: 24px;
    cursor: pointer;
    background-color: #F2F2F2;
    border-radius: 20px;
    border:1px solid #000A16;

    font-weight: 100;
}

.Button:hover{
    background-color: #dddddd;
}

.ReCAPTCHA{
    margin-top: 10px;
    display: block;
}