h1 {
    font-size: 15px;
    font-weight: 300;
}

.ChosenReportDetailsView{
    width: 100vw;
    height: 110vh;
    background-color: #F2F2F2;
    overflow-y: hidden;
}

.ReportDetailsPanel {
    margin: 0;
    display: flex;
    overflow-y: hidden;
    justify-content: center;
}

.FormInfo {
    flex: 1;
    display: flex;
    flex-direction: column;
    position: inherit;

    width: 200px;
    max-width: 300px;
    height: 80vh;
    margin-left: 60px;

    justify-content: center;
    align-items: center;
}

.FormItem {
    padding-top: 40px;
    height: 350px;
}

.CSVButton {
    margin-top: 20px;
    width: 180px;
    height: 28px;
    
    background: #77E178;
    border-radius: 32px;
    border: 1px solid #787878;

    font-family: 'roboto';
}

.CSVButton:hover {
    background: #50d752;
}

.QuestionsBlock{
    width: 1000px;
    height: 75vh;    
    margin: 50px;
    position: relative;

    background: rgba(242, 242, 242, 0.95);
    box-shadow: 4px 4px 40px 10px rgba(0, 0, 0, 0.25);
    border-radius: 56px;
}

.QuestionsInfo{
    flex: 2;
    display: flex;
    flex-direction: column;
    position: absolute;

    right: 25px;
    top: 15px;

    width: 95%;
    height: 95%;
    
    overflow-x: hidden;
}

.QuestionNumber {
    font-size: 35px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.QuestionDetails {
    margin: 40px;
    margin-top: 10px;
    margin-bottom: 15px;
}

@media (max-width: 600px) {
    .ChosenReportDetailsView {
        height: 200%;
    }

    .ReportDetailsPanel {
        margin: 0;
        flex-direction: column;

        justify-content: center;
        align-items: center;
    }

    .FormInfo {
        display: flex;
        flex-direction: row;
    
        width: 600px;
        height: 200px;
        margin: 0px;
    
        justify-content: center;
        align-items: center;
    }
    
    .FormItem {
        padding-right: 50px;
    }
    
    .QuestionsBlock{
        width: 85%;
        height: 560px;    
        margin: 0px;
        margin-bottom: 50px;
        position: relative;
    }
    
    .QuestionNumber {
        font-size: 35px;
        margin-top: 15px;
        margin-bottom: 15px;
    }
}