.LoginView {
    background-image: url("../../public/Graphics/Login/LoginBg.png");
    background-size: cover;
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: row;
    overflow: hidden;
}

.LeftSide{
    background-color: #F2F2F2;
    height: 200vh;
    width: 55vw;

    transform: rotate(-18.26deg) translate(0, -200px);

    display: flex;
    justify-content: center;
    align-items: center;
}

.CatchPhrase{
    height: auto;
    width: 60%;

    font-size: 80px;
    text-align: center;
    font-family: 'Tajawal', sans-serif;
    
    transform: rotate(18.26deg) translate(0, calc(-50vh + 200px));
}

.RightSide{
    background-color: transparent;
    height: 100vh;
    width: 50vw;

    display: flex;
    justify-content: center;
    align-items: center;
}

.InputPanel{
    background-color: #f8f8f8e3;
    height: 70%;
    width: 60%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    border-radius: 60px;
    backdrop-filter: blur(6px);
    filter: drop-shadow(10px 10px 10px #000000bd)
}

.Logo{
    width: 100%;
    height: 100%;

    margin-top: 3em;
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

svg{
    width: 75%;
    height: auto;
    margin-bottom: 1em;
}

.LogoName{
    font-size: 58px;
    text-align: center;
    font-family: 'Tajawal', sans-serif;

    letter-spacing: 0.2em;
}

.LoginInput{
    width: 75%;
    height: 75%;

    display: flex;
    flex-direction: column;
}

.InputText{
    padding-left: 0.3em;
    font-size: 24px;
    font-family: 'Tajawal', sans-serif;

    color: #000A16;
}

.Input{
    margin-bottom: 1em;
    border-radius: 2em;
    height: 1.75em;

    padding-left: 1em;

    border:1px solid #787878
}

.LogRegButtons{
    width: 75%;
    height: 20%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.C_button{
    width: 45%;
    height: 2em;

    border-radius: 1em;
    font-family: 'Tajawal', sans-serif;

    border:1px solid #787878
}

.RecoverButton{
    width: 100%;
    height: 40%;

    padding-top: 1em;

    display: flex;
    justify-content: center;
}

@media only screen and (max-width: 600px){
    .LoginView{
        background-image: none;
        background-color: #F2F2F2;
    }

    .RightSide{
        display: none;
    }

    .LeftSide{
        display: none;
    }
}