
.LoginInputPanel{
    overflow-y: auto;
    background-color: #f8f8f8e3;
    height: 600px;
    width: 470px;

    max-height: 90%;
    min-height: 50%;
    min-width: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    border-radius: 60px;
    backdrop-filter: blur(6px);
    filter: drop-shadow(10px 10px 10px #000000bd);

    color: #000A16;
}

.LoginInputPanel > .Logo{
    height: 200px;
    width: 80%;

    max-height: 300px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.LoginInputPanel > .Logo > svg{
    width: 100%;
    height: auto;
}

.LoginInputPanel > .Logo > .LogoName{
    margin: 0;

    font-size: 55px;
    font-weight: 100;
    font-family: 'Adam', sans-serif;
    font-weight: 700;

    letter-spacing: 0.65vw;
}

.LoginInputs{
    height: 135px;
    width: 75%;
}

.LoginInputs > .Input{
    margin-top: 2px;
}

.LogRegButtons{
    width: 75%;
    height: 60px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.LogRegButtons > .Button{
    width: 42%;
    font-size: 18px;
}

.RecoverButton{
    width: 75%;
    height: 60px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.RecoverButton > .Button{
    width: 60%;
    font-size: 18px;
}

@media only screen and (max-width: 600px){
    .LoginInputPanel{
        max-height: 100%;
        background-color: transparent;
        border-radius: 0;
        filter: none;
        overflow: hidden;
    }

    .LoginInputPanel > .Logo{
        width: 65%;
        height: 250px;
    }

    .LoginInputPanel > .Logo > .LogoName{
        font-size: 62px;
    }

    .LoginInputs{
        width: 65%;
    }

    .LogRegButtons{
        width: 65%;
        height: 66px;

        margin-top: 20px;
        flex-direction: column;
    }

    .LogRegButtons > .Button{
        width: 60%;
    }

    .RecoverButton{
        width: 65%;
    }

    .RecoverButton > .Button{
        width: 60%;
    }
}