.LoginView {
    background-image: url("../../public/Graphics/Login/LoginBg.png");
    background-size: cover;
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: row;
    overflow: hidden;
}

.LeftSide{
    background-color: #F2F2F2;
    height: 200vh;
    width: 55vw;

    transform: rotate(-18.26deg) translate(0, -200px);

    display: flex;
    justify-content: center;
    align-items: center;
}

.CatchPhrase{
    height: auto;
    width: 60%;

    font-size: 80px;
    text-align: center;
    font-family: 'Tajawal', sans-serif;
    
    transform: rotate(18.26deg) translate(0, calc(-50vh + 200px));
}

.RightSide{
    background-color: transparent;
    height: 100vh;
    width: 50vw;

    display: flex;
    justify-content: center;
    align-items: center;
}

.InputPanel{
    background-color: #f8f8f8e3;
    height: 75%;
    width: 60%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    border-radius: 60px;
    backdrop-filter: blur(6px);
    filter: drop-shadow(10px 10px 10px #000000bd)
}

.Logo{
    width: 100%;
    height: 100%;
}

.LoginInput{
    background-color: chartreuse;
    width: 100%;
    height: 100%;
}

.LogRegButtons{
    background-color: darkgreen;
    width: 100%;
    height: 100%;
}

.RecoverButton{
    background-color: deeppink;
    width: 100%;
    height: 100%;
}

@media only screen and (max-width: 600px){
    .LoginView{
        background-image: none;
        background-color: #F2F2F2;
    }

    .RightSide{
        display: none;
    }

    .LeftSide{
        display: none;
    }
}