.NavbarView {
    background-image: url("../../public/Graphics/Login/LoginBg.png");
    background-size: cover;
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: row;
    overflow: hidden;
}