body, root, .App, .Home {
    height: 100vh;
}

.NewFormPanel {

    background-color: #F2F2F2;
    filter: drop-shadow(0 0 8px #00000080);

    margin: 4em auto 0px auto;

    justify-content: flex-start;
    align-items: flex-start;

    border-radius: 60px;
    backdrop-filter: blur(6px);

    color: #000A16;

    overflow: hidden;
    white-space: nowrap;

    width: 60%;

}

.NewFormForm {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    font-size: 2em;
    margin: 1.5em;
    overflow: hidden;

}

.NewFormNameContainer {
    width: 100%;
}

.Row {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1em 0px;
    font-weight: lighter;
    width: 100%;
}

.Row label {
    margin-right: 10%;
}

.Row input {
    font-size: 1em;
    font-weight: lighter;
}


.NewFormPanel input {
    font-size: 1em;
    font-family: Roboto;
    background: transparent;
    border: none;
    outline: none;
}

.NewFormPanel input.NewFormName {
    outline: none;

    border: none;
    border-bottom: 1px solid black;
    background-color: inherit;
    font-size: 1.1em;
    font-weight: normal;
    width: 50%;
}

.Row input {
    margin-right: 5%;
}

.ExpiryDateInput::-webkit-calendar-picker-indicator {
    filter: invert(50%);
    margin-left: 35px;
}

.ExpiryTimeInput::-webkit-calendar-picker-indicator {
    filter: invert(50%);
    margin-left: 35px;
}

.ExpiryDateInput::-webkit-calendar-picker-indicator:hover {
    cursor: pointer;
    opacity: 70%;
}
.ExpiryTimeInput::-webkit-calendar-picker-indicator:hover {
    cursor: pointer;
    opacity: 70%;
}

.Comment {
    font-size: 0.6em;
    font-weight: lighter;
    color: #000A16;
    margin-top: 3em;
    margin-right: 0px !important;
    overflow: hidden;
    text-overflow: ellipsis;
}

.ConfirmButton {
    color: #FFFFFF;
    width: 40%;
    height: auto;
    line-height: 1.6em;
    font-size: 0.7em;
    font-weight: lighter;
    border: none;
    background: #77E178;
    border-radius: 32px;
}

.ConfirmButton:hover {
    cursor: pointer;
    background: #77E178;
    opacity: 80%;
}

.Row > label:hover{
    background-color: transparent;
}

@media (max-width: 600px) {
    .NewFormPanel {
        background-color: transparent;
        margin: 0;
        width: 100%;
        height: 100vh;
    }
    .NewFormForm {
        width: 100%;
        margin: 2em 0;
    }

    .Row {
        align-items: center;
        justify-content: flex-start;
        margin: 2em 0em !important;
        font-size: 30px;
        padding: 0em 1em;
    }



    .Row:first-child {
        display: block;

    }

    .Row:first-child input {
        width: 100%;
    }

    .Row input {
        margin-right: 0;
    }

    .Row:nth-last-child(2) {
        font-size: 28px;
        justify-content: center;
        position: absolute;
        bottom: 3em;
    }

    .Row:last-child {
        justify-content: center;
        position: absolute;
        bottom: 1em;
    }

    .ExpiryDateInput::-webkit-calendar-picker-indicator {
        margin-left: -55px;
    }

    .ExpiryTimeInput::-webkit-calendar-picker-indicator {
        filter: invert(50%);
        margin-left: -10px;
    }

    .Comment {
        margin-right: 0.5em !important;
    }


}
