.Card{
    background-color: #f8f8f8e3;
    height: fit-content;
    width: 100%;

    padding: 32px;

    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;

    border-radius: 60px;
    backdrop-filter: blur(6px);
    filter: drop-shadow(10px 10px 10px #000000bd);

    color: #000A16;
}

.Card > .QuestionHeader{
    width: 100%;

    display: flex;
    flex-direction: row;
    align-items: center;
}

.Card > .QuestionHeader > .QuestionNumber{
    flex: 1;

    font-family: 'Adam', 'sans-serif';
    font-size: xx-large;
}

.Card > .QuestionHeader > .DeleteButton{
    cursor: pointer;
}

.Card > .QuestionTypeField{
    width: 100%;

    display: flex;
    flex-direction: row;
    align-items: center;
}

.Card > .QuestionTypeField > .QuestionTypeText{
    margin-right: 64px;
    
    font-family: 'Adam', 'sans-serif';
    font-size: xx-large;
}

.Card > .QuestionTypeField > .QuestionTypeSelector{
    width: 100%;
    flex: 1;
    font-family: 'Adam', 'sans-serif';
    font-size: x-large;
}

.Card > .QuestionContentText{
    font-family: 'Adam', 'sans-serif';
    font-size: x-large;
}

.Card > .QuestionEditor{
    width: 100%;
}

@media only screen and (max-width: 600px){
    .Card > .QuestionTypeField > .QuestionTypeText{
        margin-right: 0;
    }

    .Card > .QuestionTypeField{
        flex-direction: column;
        align-items: flex-start;
    }
}