.ProfilePanel{
    overflow-y: auto;
    background-color: #f2f2f2;
    height: 80vh;
    width: 75vw;
    max-width: 1300px;
    margin-top: 3vh;
    margin-left: 12vw;
    margin-right: 12vw;
    padding-top: 4vh;
    padding-bottom: 4vh;

    display: flex;
    align-items: flex-start;
    flex-direction: row;

    border-radius: 60px;
    backdrop-filter: blur(6px);
    filter: drop-shadow(10px 10px 10px #000000bd);

    color: #000A16;
    overflow: hidden;
}

.SectionName{
    font-family: 'Adam', 'sans-serif';
    font-size: xx-large;
}

.ProfilePanel > .AccountInfoPanel{
    flex: 3;
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin-left: 4vw;
}

.ProfilePanel > .AccountInfoPanel > form {
    display: flex;
    flex-direction: column;
}

.ProfilePanel > .AccountInfoPanel > form > button {
    width: 50%;
    margin-bottom: 15px;
}

.ProfilePanel > .AccountInfoPanel > form > label > .ProfilePicture{
    width: 128px;
    height: 128px;
    margin-bottom: 2vh;
    border-radius: 64px;
    border: 4px solid #77E178;
    object-fit: cover;
}

.ProfilePanel > .AccountInfoPanel > form > label:hover {
    cursor: pointer;
    opacity: 90%;
}

.ProfilePanel > .AccountInfoPanel > form > #picture {
    display: none;
}

.ProfilePanel > .AccountInfoPanel > .AccountDetailText{
    font-family: 'Adam', 'sans-serif';
    font-size: large;
}

.ChangeDetailsPanel{
    flex: 4;
    display: flex;
    flex-direction: column;
    justify-content: left;
    gap: 7px;
}

.ChangeDetailsPanel > .ApplyChangesInfoText {
    font-family: 'Adam', 'sans-serif';
    font-size: medium;
    margin-bottom: 0;
}

.ChangeDetailsPanel > .Button{
    margin-top: 2vh;
    margin-left: 15%;
    margin-right: 15%;
}

.ProfilePanel > .LogoutPanel{
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin-right: 4vw;
    margin-left: 4vw;
}

.ProfilePanel > .LogoutPanel > .Logout{
    height: 32px;
    cursor: pointer;
    border-style: none;
    background-color: #FF5342;
    border-radius: 20px;
    color: white;
    font-weight: 100;
}

.ProfilePanel > .LogoutPanel > .Logout:hover{
    background-color: #ff2f1d;
}

@media only screen and (max-width: 600px){
    .ProfilePanel{
        background-color: transparent;
        border-radius: 0;
        filter: none;

        width: 100vw;
        height: 100vh;
        margin: 0;
        padding-top: 1vh;
        padding-left: 8vw;
        padding-right: 8vw;

        flex-direction: column;
        align-items: flex-start;
    }

    .ProfilePanel > .AccountInfoPanel{
        margin: 0;
    }

    .ChangeDetailsPanel{
        margin: 0;
    }

    .ChangeDetailsPanel > .SectionName{
        margin-top: 6vh;
    }

    .ProfilePanel > .LogoutPanel{
        margin: 0;
        width: 84vw;
    }

    .ProfilePanel > .LogoutPanel > .SectionName{
        visibility: hidden;
    }
}