
.input:focus {
    background-color: rgba(120,120,120,0.3);
    color: black;
    outline-color: #787878;
}

.input-container {
    display: flex;
    flex-direction: column;
    margin: 1vh 0;
    width: 100%;
}

.input {
    border:solid 2px #787878;
    /* background-color: #F2F2F2; */
    background-color: white;
    line-height: 2rem;
    font-size: 1.2rem;
    border-radius: 25px;
    padding: 0 10px;
    width: 100%;
    
}



input:invalid[focused="true"] {
    border:solid 2px red;

}


span {
    font-size: 16px;
    line-height: 1rem;
    color: red;
    
    text-align: right;
    margin: 0 10px;
    display: none;
}

input:invalid[focused="true"] ~ span {
    display: block;

}

label {
    font-size: 1.5rem;
    margin: 0px 10px;
    
}

